<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/shared.js"></script>
<link rel="stylesheet" href="/css/login.css" />
<link rel="stylesheet" href="/css/style.css" />

<body class="bodyBackground">

<div class="container">
	
	<div class="loginContainer" id ="loginContainer">
		<div class="websiteTitleContainer" id ="websiteTitleContainer"><h1 class="websiteTitle">The Learning Hub</h1></div>
		
		<div class="loginFormContainer" id="loginFormContainer">
			<form class="loginForm" method="post" action="/users/login" id="loginForm">	  
			  	<input class="transparentTextInput" type="text" placeholder="Email" id="email" name='email'> <br>  
			  	<input class="transparentTextInput" type="password" placeholder="Password" id="password" name='password'> <br>
			  	<button type='button' class="btn btnWithPadding forgotPassword" id="forgotPassword">Forgot Password</button>
				<button type='button' class="btn login" id="login" onclick="loginIsClicked()" >Login</button>
				<button type='button' class="btn register" id="register" onclick="registerIsClicked()"><a style="text-decoration: none; color:#502706;" >Register</a></button>
			</form>
		</div>
		<div class="companyNameContainer" id="companyNameContainer"><h1 class="companyName"><b>SCALE</b></h1></div>	

		{{#if error_msg}}
				<div class="errorContainer" id="errorContainer"><h1 class="error">{{error_msg}}</h1></div>
	    {{/if}}

		{{#if error}}
			<div class="errorContainer" id="errorContainer"><h1 class="error">{{error}}</h1></div>
		{{/if}}


		
	</div>

	<div class="loadingContainer" id="loadingContainer"></div>



</div>




	

<!--
<div class="container">
	<div id ="animate"></div>
	<p>
	<button onclick="myMove()">Click Me</button>
</p> 
</div>
-->






</body>
</html>
