.bodyBackground
{
  background-color:#4f868e;
   overflow: hidden;
}

.container
{ 
	display: block;
	position: absolute;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

	height: 100%;
	width: 100%;
}

.registerContainer {
	display: block;
	position: absolute;

	bottom: 0;
	left: 0;
	right: 0;

	max-height: 100%;
	max-width: 70%;
	min-width: 100px;

	margin: auto;

	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-radius: 50px 50px 0px 0px;
	border-color: #4f868e;

	background: url(/images/whitepaper.jpg) no-repeat center fixed; 
	background-size: cover;

}

.registerFormContainer {
	display: block;
	position: absolute;

	bottom: 0;

	height: 100%;
	width: 100%;
	margin: auto;

	border-radius: 10px 10px 10px 10px;
	opacity: 0;
}

.registerForm{
  position:relative;
  top: 10px;
  width: 100%;
}

.transparentTextInput {
  background-color: rgb(0,0,0,0);

  border: none;
  border-bottom: solid;
  border-color:  #4f868e;

  width: 100%;
  height: 26px;
  font-size: 20px;
  
  padding: 0px;
  
  color: #4f868e;
  outline: none;

  margin-bottom: 20px;
  text-align: center;
}

.registerButtonContainer {
  
	position: absolute;

	top: 380px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 14px;
  
}

.registerButton{
	position: relative;
	background-color: rgb(0,0,0,0);
	border: none;
	color: #4f868e;
	font-size: 22px;
}

.registerButton:hover{
	background-color: #4f868e;
	color: white;
}

.backButtonContainer {
  
	position: absolute;

	top: 420px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 14px;
}


.backButton{
	position: relative;
	background-color: rgb(0,0,0,0);
	border: none;
	color: #4f868e;
	font-size: 16px;
}

.backButton:hover{
	background-color: #4f868e;
	color: white;
}

::placeholder {
  color: #4f868e;
  opacity: 1; /* Firefox */
  font-size: 20px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4f868e;
  font-size: 20px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #4f868e;
}


.dropbtn {
    color: #4f868e;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  	height: 26px;
    text-align: center;
    margin: 0 auto;

    position: relative;
    margin-top: 12px;
    margin-bottom: 8px;
    background-color: rgb(0,0,0,0);
    z-index: 1;
    cursor: pointer;

}

/*
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
*/
#schoolInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%
}

#schoolInput:focus {outline: 3px solid #ddd;}

#degreeInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%
}

#degreeInput:focus {outline: 3px solid #ddd;}


#majorInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%
}

#majorInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;

    width: 100%;

    border: none;
  	border-bottom: solid;
  	border-color:  #4f868e;
}

.dropdown-content {
	position: relative;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;

    overflow: auto;
    border: 1px solid #ddd;
    z-index: 2;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.errorContainer{
	position: absolute;

	top: 330px;
	width: 100%;
	min-width: 100px

	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 14px;
}

.error{
	position: relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:  0 auto;
	width: 100%;
	font-size: 15px;
	color: red;
	text-align: center; 
}



