.loadingContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  
  height: 50px;
  width: 50px;

  background: url(/images/book.gif) no-repeat center fixed; 
  background-size: 50px 50px;

  opacity: 0;
}

.websiteTitleContainer{
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin:  0 auto;
  border-style:solid;
  border-color: #522706;
  border-radius: 50px 50px 0px 0px;
  height: 40px;
  background-color: #522706;
  cursor: default;
}

.websiteTitle{
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin:  0 auto;
  font-size: 30px;
  color: white;
  text-align: center;
}

.btn{
  position: absolute;
  display: inline-block;
}

.btnWithPadding{
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
